*{
	margin: 0;
	padding: 0;
}
#div1{
	width: 1000px;
	height: 155px;
	background-color: red;
	margin:0 auto;
	position:relative;
	overflow: hidden;
	float: left;
}
#div1 ul{
	
	position:absolute;
	left: 0;
	top: 0;
}

#div1 ul li{
	width:250px;
	height: 155px;
	float: left;
	list-style: none;

}

.direction{
	width: 45px;
	height: 45px;
	display: block;
	float: left;
	margin-top: 50px;
}

#most{
	width: 1100px;
	height: 155px;
	margin:100px auto;
}