<!-- 使用公共模块header -->
<%- include("./components/header") %>

<div class="container">
    <!-- 文章主体 -->
    <% post.forEach(element => { %>
    <!-- include内可以传参 -->
        <%- include("./components/article", {post: element}) %> 
        </div>
    <% }) %>
    
</div>

<!-- 引用公共模块footer -->
<%- include("./components/footer") %>