body{
	margin: 0;
	padding: 0;
	background: linear-gradient(120deg, rgba(50, 150, 100, 0.4), rgba(0, 0, 100, 0));
	width: 100%;
	height:758px;
	position: relative;
}
h3,h5,p,ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}

.container{
	width: 100%;
	margin: 0 auto;
	perspective: 1300px;
	padding-top: 100px;
}
.container:before{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 758px;
	background: linear-gradient(0deg, rgba(0, 0, 200, 0.4), rgba(0, 0, 200, 0));
	top: 0;
	left: 0;
}
.container:after{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 758px;
	background: linear-gradient(240deg, rgba(150, 50, 50, 0.4), rgba(0, 0, 200, 0));
	top: 0;
	left: 0;
	z-index: -1;
}

.photo{
	width: 400px;
	height: 550px;
	background: url(../img/bg.jpg) no-repeat center center;
	border-radius: 10px;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	transition: all .5s;
	transform: translateZ(2px);
}

.photo:before{
	position: absolute;
	content: "";
	width: 400px;
	height: 550px;
	transition: all .5s;
	background: linear-gradient(180deg,rgba(150, 50, 50, 0.4), rgba(0, 0, 200, 0));
	z-index: 1;
}

.container input{
	display: none;
	position: absolute;
	
}

.wraper{
	position: relative;
	transition: all .5s;
	margin:0 auto;
	display: block;
	width: 400px;
	height: 550px;
	background: black;
	border-radius: 10px;
	transform-style: preserve-3d;
	perspective: 1100px;
}
.wraper:hover{
	box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.75);
	transform: translateY(100px) rotateX(60deg);
}
.wraper:hover .photo{
	transform: translateZ(20px);
}
.wraper:hover .photo:before{
	background: rgba(0, 50, 100, 0.8);
}


.container .wraper h1{
	transform: translateZ(5px);
	width: 30%;
	height: 20px;
	/*position: absolute;*/
	font-size: 40px;
	color: white;
	margin: 0px auto;
	line-height: 40px;
	padding:150px 0 20px;
	transition: all .5s ;
}
.container .wraper h5{
	transform: translateZ(3px);
	width: 30.5%;
	height: 20px;
	margin: 10px auto 80px;
	font-size: 21px;
	color: white;
	transition: all .5s ;
}
.container .wraper p{
	transform: translateZ(3px);
	width: 28%;
	height: 20px;	
	margin: 30px auto;
	font-size: 40px;
	color: white;
	transition: all .5s ;
}
.wraper:hover > h1{
	opacity: 0;
	transform: translateZ(60px) translateY(-100px);
}
.wraper:hover > h5{
	opacity: 0;
	transform:  translateZ(30px) translateY(-100px);
}
.wraper:hover > p{
	font-size: 45px;
	transform: translateZ(23px) translateY(-100px);
}

.chart{
	transform-style: preserve-3d;
}

.wraper .chart .bar{
	margin: 15px;
	width: 25px;
	transform-style: preserve-3d;
	background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 0%, #a0d8ef 100%);
	float: left;
	transform:translateZ(35px) translateY(-50px) rotateX(90deg) rotateY(45deg);
	transform-origin: 100% 0 0;
	transition: all .3s linear;
	transition-delay: .3s;
}

.wraper .chart .bar1{	
	height: 0px;	
}
.wraper .chart .bar2{	
	height: 0px;	
}
.wraper .chart .bar3{	
	height: 0px;	
}
.wraper .chart .bar4{	
	height: 0px;	
}
.wraper .chart .bar5{	
	height: 0px;	
}
.wraper .chart .bar6{	
	height: 0px;	
}
.wraper .chart .bar7{	
	height: 0px;	
}

.wraper:hover .chart .bar{
	transform: translateZ(35px) translateY(-50px) rotateX(90deg) rotateY(25deg);	
}
.wraper:hover .chart .bar1{
	height: 150px;
}
.wraper:hover .chart .bar2{
	height: 75px;
}
.wraper:hover .chart .bar3{
	height: 112px;
}
.wraper:hover .chart .bar4{
	height: 180px;
}
.wraper:hover .chart .bar5{
	height: 53px;
}
.wraper:hover .chart .bar6{
	height: 53px;
}
.wraper:hover .chart .bar7{
	height: 75px;
}
.wraper .chart .bar:before{
	display: block;
	content: "";
	width: 25px;
	height: 25px;
	background: white;
	transition: all .3s  linear;
	transform:translateY(0px) rotateX(90deg);
	transform-origin: 100% 0;
	position: absolute;
	transition-delay: .3s;
}
.wraper:hover > .chart > .bar:before{
	background: #E8D2D2;
}
.wraper:hover > .chart > .bar1:before{
	transform:translateY(150px) rotateX(90deg);	
}
.wraper:hover > .chart > .bar2:before{
	transform:translateY(75px) rotateX(90deg);	
}
.wraper:hover > .chart > .bar3:before{
	transform:translateY(112px) rotateX(90deg);	
}
.wraper:hover > .chart > .bar4:before{
	transform:translateY(180px) rotateX(90deg);	
}
.wraper:hover > .chart > .bar5:before{
	transform:translateY(53px) rotateX(90deg);	
}
.wraper:hover > .chart > .bar6:before{
	transform:translateY(53px) rotateX(90deg);	
}
.wraper:hover > .chart > .bar7:before{
	transform:translateY(75px) rotateX(90deg);	
}

.wraper .chart .bar:after{
	display: block;
	content: "";
	width: 25px;
	height: 0px;
	background: linear-gradient(to bottom, #feffff 0%, #E8D2D2 0%, #B9C8D5 100%);
	transition: all .3s linear;
	transform:  rotateY(90deg);
	position: absolute;
	transition-delay: .3s;
	transform-origin: 100% 0 0;
}
.wraper:hover > .chart > .bar:after{
	transform: rotateY(90deg);
}
.wraper:hover > .chart > .bar1:after{
	height: 150px;
}
.wraper:hover > .chart > .bar2:after{
	height: 75px;
}
.wraper:hover > .chart > .bar3:after{
	height: 112px;
}
.wraper:hover > .chart > .bar4:after{
	height: 180px;
}
.wraper:hover > .chart > .bar5:after{
	height: 53px;
}
.wraper:hover > .chart > .bar6:after{
	height: 53px;
}
.wraper:hover > .chart > .bar7:after{
	height: 75px;
}

.bar span{
	position: absolute;
	bottom: 20px;
	left: -10px;
	opacity: 0;
	transform: rotateZ(-90deg) rotateY(180deg);
	transition: opacity .5s;
	transition-delay: .5s;
	font-size: 15px;
	
}
.wraper:hover > .chart > .bar span{
	opacity: 1;
}
