<!-- 使用公共模块header -->
<%- include("./components/header") %>

    <div class="container">
        <div class="row">
            <div class="panel panel-default col-sm-4 col-sm-offset-4">
                <div class="panel-body">
                    <form action="/register" method="POST" enctype="multipart/form-data">
                        <div class="form-group text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success fileinput-button">
                                    <span>上传头像</span>
                                    <input type="file" id="avatar" name="avatar">
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Username">请输入账号</label>
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="pass">请输入密码</label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="conPass">请确认密码</label>
                            <input type="password" class="form-control" name="password" id="conPass" placeholder="Confirm Password">
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="man" checked>男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="woman">女
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="conPass">个人简介</label>
                            <textarea class="form-control" name="portray" rows="3"></textarea>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-success">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

      <!-- 引用公共模块footer -->
    <%- include("./components/footer") %>
